
@charset "UTF-8";

.body{
    background-image:url(../img/marek-piwnicki-k0Jn-U0WzYM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.h1{
    color:black;
    text-align:center;
    font-size:40px;
    font-family: Georgia;
}

.sec{
    text-align: center;
    font-size: 30px;
    color:black;
    font-family: Georgia;
}

.nav{
    color:black;
    display:flex;
    
}